.button-container {
    width: 80%;
    margin-left: 340px;
    padding: 20px;
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Space between the buttons */
    background-color: #212121;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    height:100vh;
    position: relative;
}

.left-buttons,
.right-buttons {
    display: flex;
    align-items: center;
}

.download-button{
    margin-bottom: 20px;
    
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}.update-button{
    margin: 10px;
    margin-top: 19px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.download-button {
    background-color: #15d42e;
    color: white;
}

.download-button:hover {
    background-color: #45a049;
}

.update-button {
    background-color: #15d42e;
    color: white;
}

.update-button:hover {
    background-color: #45a049;
}



.file-upload {
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.upload-label {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border: 2px solid #15d42e;
    border-radius: 5px;
    background-color: #0a0a0a;
    cursor: pointer;
    color: #159f28;
    font-size: 16px;
    transition: background-color 0.3s, border-color 0.3s;
}

.upload-label:hover {
    background-color: #1c1c1c;
    border-color: #45a049;
}

.upload-text {
    margin-left: 10px;
}

.file-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 300px;
    margin: 10px 0;
    padding: 10px;
    background-color: #1c1c1c;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.file-name {
    font-weight: bold;
    color: white;
}

.delete-button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.delete-button:hover {
    background-color: #c82333;
}

input[type="file"] {
    color: #15d42e;
}
